<div class="bg-gray">
  <span class="alert-date">
    <a class="btn-map" [routerLink]="['/',Url.Home]">
      <i class="fas fa-bars"></i> เมนูหลัก</a> / ผลรางวัล
  </span>
</div>
<div class="container">

  <div class="row">
    <div class="col-12">
      <img src="assets/img/Flag_of_Thailand.svg" width="25px" alt="">
      <b>หวยไทย</b>
      <iframe src="http://www.lottochaiyo.com/Small" width="100%" frameborder="0"></iframe>
      <hr>
      <img src="assets/img/Flag_of_Laos.svg" width="25px" alt="">
      <b>หวยลาว</b>
      <h5 class="text-center">เร็ว ๆ นี้</h5>
      <hr>
      <img src="assets/img/Flag_of_Vietnam.png" width="25px" alt="">
      <b>หวยฮานอย</b>
      <h5 class="text-center">เร็ว ๆ นี้</h5>
    </div>
  </div>
</div>
