<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-bottom " style="padding: 0px;" style="z-index: 2;padding-top: 0px;padding-left: 0px;padding-bottom: 0px;padding-right: 0px;">
  <div class="d-flex justify-content-around" style="width: 100%;">
    <div class="p-2 btn-footer" [routerLink]="['/',Url.Book]" [routerLinkActive]="['active']">
      <i class="fas fa-address-book "></i>
    </div>
    <div class="p-2 btn-footer" [routerLink]="['/',Url.SummedUp]" [routerLinkActive]="['active']">
      <i class="fas fa-coins "></i>
    </div>
    <div class="p-2 btn-footer" [routerLink]="['/',Url.ListBuy]" [routerLinkActive]="['active']">
      <i class="fas fa-list-alt "></i>
    </div>
    <div class="p-2 btn-footer" [routerLink]="['/',Url.CheckLottery]" [routerLinkActive]="['active']">
      <i class="fas fa-calendar-check"></i>
    </div>
    <div class="p-2 btn-footer" [routerLink]="['/',Url.Notification]" [routerLinkActive]="['active']">
      <i class="fas fa-bell"></i>
    </div>
  </div>
</nav>
