<nav class="navbar navbar-expand-lg navbar-light bg-light  fixed-top " style="z-index: 2;">
  <a class="navbar-brand" [routerLink]="['/',Url.Home]">
    <img src="assets\img\logo.png" width="40px">
    <span class="hidden-bang"> โปรเเกรมเจ้ามือหวย</span>
  </a>
  <div>
    <a class="" [routerLink]="['/',Url.Home]">
      <i class="fas fa-bars"></i>
      <span class="hidden-bang"> เมนูหลัก</span>
    </a>
    <a class="" (click)="OnLogOut()">
      <i class="fas fa-sign-out-alt"></i>
      <span class="hidden-bang">ออกจากระบบ</span>
    </a>

  </div>

</nav>
