<div class="bg-gray">
    <span class="alert-date">
        <a class="btn-map" [routerLink]="['/',Url.Home]"><i class="fas fa-bars"></i> เมนูหลัก</a> / สมุดรายชื่อ
    </span>
  </div>
<div class="container">
  <div class="row">
    <div class="col-12 text-right">
      <button class="btn btn-primary" (click)="OnAddName()"><i class="fas fa-plus-circle" ></i> เพิ่มชื่อ</button>
      <button class="btn btn-info" (click)="OnSearch()"><i class="fas fa-search"></i> ค้นหา</button>
    </div>
  </div>
  <div class="row">
    <table class="table table-sm">
      <thead class="text-center">
        <tr>
          <th scope="col">#</th>
          <th scope="col">ชื่อ</th>
          <th scope="col">ค้างชำระ</th>
          <th scope="col">ตัวเลือก</th>
        </tr>
      </thead>
      <tbody class="text-center">
        <tr>
          <th scope="row">1</th>
          <td class="text-left">นามสมุติ</td>
          <td>20,000</td>
          <td>
            <button class="btn btn-light" (click)="OnPay()"><i class="fas fa-eye"></i> ดู</button>
            <button class="btn btn-warning" (click)="OnPay()"><i class="fas fa-coins"></i> จ่าย</button>
            <button class="btn btn-danger" (click)="OnDelete()"><i class="fas fa-trash-alt"></i> ลบ</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
