.total{
    background-color: #ff5959;
    padding: 10px;
    margin: 5px;
    color: white;
}
.row{
    padding:8px;
    span{
        font-size: 11px; 
        color: #c18e17;
    }
}
.header-lottery{
    position: relative;
    border-radius: 4px;
    padding: 5px;
    margin: 0px;
}
.Persents{
    position: absolute;
    top: 10px;
    right: 20px;
}