<div class="bg-gray">
  <span class="alert-date">
    <a class="btn-map" [routerLink]="['/',Url.Home]"><i class="fas fa-bars"></i> เมนูหลัก</a> / สรุปยอด
  </span>
</div>
<div class="container">
  <form [formGroup]="FromGroupFilter">
    <div class="row">
      <div class="col-12">
        <div class="form-group">
          <label for="sel1">
            <i style="color: #fcbb43;" class="fas fa-calendar-alt"></i> ประจำงวดวันที่ :
          </label>
          <a style="float: right;" [routerLink]="['/',Url.ListBuy]"> <i class="fas fa-dollar-sign"></i> ซื้อหวย</a>
          <input type="date" class="form-control" formControlName="lottery_date" id="sel1" (change)="GetSumReport()">
        </div>
      </div>
    </div>
  </form>
  <div class="text-center">
    <div>
      <h3 class="total">
        {{SUMALL | number}}฿
        <br>ยอดรวดทั้งหมด
      </h3>
      <div class="row" *ngIf="SumReport" class="text-left">
        <div class="">
          <div class="header-lottery" *ngIf="SumReport.length != 0">
            <ng-container *ngFor="let SumReports of SumReport">
              <h6>
                <img *ngIf="SumReports.Country_id == 1" src="assets/img/Flag_of_Thailand.svg" width="25px" alt="">
                <img *ngIf="SumReports.Country_id == 2" src="assets/img/Flag_of_Laos.svg" width="25px" alt="">
                <img *ngIf="SumReports.Country_id == 3" src="assets/img/Flag_of_Vietnam.png" width="25px" alt="">
                <ng-container *ngIf="SumReports.Country_id == 1">รวมหวยไทย</ng-container>
                <ng-container *ngIf="SumReports.Country_id == 2">รวมหวยลาว</ng-container>
                <ng-container *ngIf="SumReports.Country_id == 3">รวมหวยฮานอย</ng-container>
                = {{SumReports.price1+SumReports.price2 | number}}฿
                <span style="float: right;">{{SumReports.count_buying}} ตัว</span>
              </h6>
            </ng-container>
          </div>
        </div>
      </div>
    </div>

    <div>
      <hr>
      <div class="row">
        <div class="col-12 text-left"><i class="fas fa-user-tag"></i> เปอร์เซอร์ได้</div>
        <div class="col-6">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="100%" [(ngModel)]="Persent" #ctrl="ngModel">
            <span class="Persents">%</span>
          </div>
        </div>
        <div class="col-6 text-right">
         <span>ยอดรวม</span> {{SUMALL | number}}฿<br>
         <span>ได้</span> {{(Persent==100?SUMALL:SUMALL/100*Persent) | number}}฿<br>
         <span>หักลบเเล้ว</span> {{(SUMALL - (Persent==100?SUMALL:SUMALL/100*Persent)) | number}}฿
        </div>
      </div>
    </div>
  </div>
</div>
