<div class="bg-gray">
  <span class="alert-date">
    <a class="btn-map" [routerLink]="['/',Url.Home]"><i class="fas fa-bars"></i> เมนูหลัก</a> / สรุปยอด
  </span>
</div>
<div class="container">
  <div class="text-center">
    <div>
      <h3 class="total">
        20,000
        <br>ยอดรวดทั้งหมด
      </h3>
    </div>
    <div>
      <hr>
      <div class="row">
        <div class="col-6 text-left"><i class="fas fa-user-tag"></i> เเม่ <span>(60%)</span></div>
        <div class="col-6">12000.-</div>
      </div>
      <div class="row">
        <div class="col-6 text-left"><i class="fas fa-user"></i> ขาย <span>(30%)</span></div>
        <div class="col-6">6000.-</div>
      </div>
      <div class="row">
        <div class="col-6 text-left"><i class="fas fa-shopping-cart"></i> ซื้อ <span>(10%)</span></div>
        <div class="col-6">2000.-</div>
      </div>
    </div>
  </div>
</div>