.box-price{
    background-color: #d3d3d3;
    padding: 10px;
}
.col-4{
    padding: 5px;
}
.mon{
    font-size: 30px;
}
.mon-1{
    font-size: 12px;
}
.price{
    color: white;
    font-size: 13px;
    background-color: #ff4040;
}