<div class="bg-gray">
  <span class="alert-date">
    <a class="btn-map" [routerLink]="['/',Url.Home]">
      <i class="fas fa-bars"></i> เมนูหลัก</a> / ต่ออายุการใช้งาน
  </span>
</div>
<div class="container">
  <div class="row">
    <div class="col-4">
      <div class="box-price text-center">
        <label class="mon">1
          <span class="mon-1">เดือน</span>
        </label>
        <div class="price">2,000 บาท</div>
      </div>
    </div>
    <div class="col-4">
      <div class="box-price text-center">
        <label class="mon">3
          <span class="mon-1">เดือน</span>
        </label>
        <div class="price">1,899 บาท</div>
      </div>
    </div>
    <div class="col-4">
      <div class="box-price text-center">
        <label class="mon">6
          <span class="mon-1">เดือน</span>
        </label>
        <div class="price">11,799 บาท</div>
        
      </div>
    </div>
    <div class="col-4">
      <div class="box-price text-center">
        <label class="mon">12
          <span class="mon-1">เดือน</span>
        </label>
        <div class="price">23,000 บาท</div>
      </div>
    </div>
  </div>
</div>