<div class="bg-gray">
  <span class="alert-date">
    <a class="btn-map" [routerLink]="['/',Url.Home]">
      <i class="fas fa-bars"></i> เมนูหลัก</a> / ซื้อหวย
  </span>
</div>
<div class="container">
  <div class="row">
    <div class="col-12">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link" (click)="TabName = '2'" [ngClass]="{'active':TabName == '2'}">ซื้อหวยเเบบรวดเร็ว</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="TabName = '1'" [ngClass]="{'active':TabName == '1'}">ซื้อหวย</a>
        </li>
      </ul>
    </div>
  </div>
  <div *ngIf="TabName == '1'">
    <div class="modal-body">
      <form [formGroup]="FormBuying" (submit)="OnBuyingSubmit()">
        <div class="row">
          <div class="col-12">
            <div class="form-group">
              <label for="sel1">
                <i style="color: #fcbb43;" class="fas fa-calendar-alt"></i> ประจำงวดวันที่ :</label>
              <input type="date" class="form-control" (change)="OnChangeDate()" formControlName="lot_dt" id="sel1">
            </div>
          </div>
          <div class="col-6">
            <div class="form-group">
              <label for="sel1">
                <i style="color: #6a6aff;" class="fas fa-male"></i> เลือกผู้ซื้อ :</label>
              <select class="form-control" id="sel1" formControlName="who">
                <option value="">กรุณาเลือก</option>
                <option value="{{DataMembers.Id}}" *ngFor="let DataMembers of DataMember">{{DataMembers.Name}}</option>
              </select>
            </div>
          </div>
          <div class="col-6">
            <div class="form-group">
              <label for="sel1">
                <i style="color: #91917d;" class="fas fa-code-branch"></i> หวยของ :</label>
              <select class="form-control" id="sel1" formControlName="country">
                <option value="">กรุณาเลือก</option>
                <option *ngFor="let DataCountrys of DataCountry" value="{{DataCountrys.Id}}">{{DataCountrys.country_name}}</option>
              </select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="form-group">
              <input type="tel" class="form-control text-center" formControlName="number" placeholder="เลข" maxlength="3">
            </div>
          </div>
          <div class="col-6">
            <div class="form-group">
              <input type="tel" class="form-control text-center" formControlName="price1" placeholder="ราคา">
              <span class="X">X</span>
            </div>
          </div>
          <div class="col-6">
            <div class="form-group">
              <input type="tel" class="form-control text-center" formControlName="price2" placeholder="ราคา">
            </div>
          </div>
          <div class="col-12 text-center">
            <div class="show-number" *ngIf="FormBuying.value.number">
              {{FormBuying.value.number}}
              <span *ngIf="FormBuying.value.price1||FormBuying.value.price2">=</span> {{FormBuying.value.price1}}
              <span *ngIf="FormBuying.value.price1&&FormBuying.value.price2">x</span> {{FormBuying.value.price2}}
              <ng-container *ngIf="FormBuying.value.number.length == 2 && (FormBuying.value.price1||FormBuying.value.price2)">
                ({{FormBuying.value.price1?'บน':''}}{{FormBuying.value.price2?',ล่าง':''}})
              </ng-container>
              <ng-container *ngIf="FormBuying.value.number.length != 2 && (FormBuying.value.price1||FormBuying.value.price2)">
                ({{FormBuying.value.price1?'เต็ง':''}}{{FormBuying.value.price2?',โต๊ด':''}})
              </ng-container>
            </div>
          </div>
          <div class="col-12">
            <button class="btn btn-danger" style="width: 100%;" type="submit">เพิ่มการซื้อหวย</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div *ngIf="TabName == '2'">
    <div class="modal-body">
      <div class="row">
        <div class="col-12">
          <div class="form-group">
            <label for="sel1">
              <i style="color: #fcbb43;" class="fas fa-calendar-alt"></i> ประจำงวดวันที่ :</label>
            <input type="date" class="form-control"  [(ngModel)]="lot_dt" #ctrl="ngModel" id="sel1">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <div class="form-group">
            <label for="sel1">
              <i style="color: #6a6aff;" class="fas fa-male"></i> เลือกผู้ซื้อ :</label>
            <select class="form-control" [(ngModel)]="member" id="sel1" (change)="OnCopy()">
              <option value="">กรุณาเลือก</option>
              <option value="{{DataMembers.Id}}" *ngFor="let DataMembers of DataMember">{{DataMembers.Name}}</option>
            </select>
          </div>
        </div>
        <div class="col-6">
          <div class="form-group">
            <label for="sel1">
              <i style="color: #91917d;" class="fas fa-code-branch"></i> หวยของ :</label>
            <select class="form-control" id="sel1" [(ngModel)]="conutry" #ctrl="ngModel" (change)="OnCopy()">
              <option value="">กรุณาเลือก</option>
              <option *ngFor="let DataCountrys of DataCountry" value="{{DataCountrys.Id}}">{{DataCountrys.country_name}}</option>
            </select>
          </div>
        </div>
      </div>
      

      <label class="petten">รูปเเบบที่สามารถรับได้ "เลข=ราคาXราคา"</label>
      <span style="float: right;cursor: pointer;" (click)="OnRefreshFormat()"><i class="fas fa-retweet"></i> Refresh</span>
      <textarea class="form-control" style="width:100%;" rows="6" [(ngModel)]="copy" #ctrl="ngModel" (keyup)="OnCopy()"></textarea>
      <input type="checkbox" [(ngModel)]="reword" #ctrl="ngModel" id="reword" (change)="OnReword()"> <label for="reword">ไปกลับ</label>
      <input type="checkbox" [(ngModel)]="rewordonly" #ctrl="ngModel" id="rewordonly" (change)="OnRewordonly()"> <label for="rewordonly">กลับอย่างเดียว</label>
      <hr>
      <ng-container *ngIf="FromGroupCopyLottery">
        <form [formGroup]="FromGroupCopyLottery">
          <div class="row text-center" formArrayName="buying" *ngFor="let listbuying of FromGroupCopyLottery.get('buying').controls;let i=index">
            <div class="col-1">
              {{i+1}}
            </div>
            <div class="col-4">
              <div class="form-group" [formGroupName]="i">
                <input type="tel" class="form-control text-center" formControlName="number">
              </div>
            </div>
            <div class="col-6">
              = {{ FromGroupCopyLottery.value.buying[i].price1}}
              <span *ngIf="FromGroupCopyLottery.value.buying[i].price1&&FromGroupCopyLottery.value.buying[i].price2">x</span>
              {{FromGroupCopyLottery.value.buying[i].price2}}
              <ng-container *ngIf="FromGroupCopyLottery.value.buying[i].number.length == 2">
                ({{FromGroupCopyLottery.value.buying[i].price1?'บน':''}}{{FromGroupCopyLottery.value.buying[i].price2?',ล่าง':''}})
              </ng-container>
              <ng-container *ngIf="FromGroupCopyLottery.value.buying[i].number.length != 2">
                ({{FromGroupCopyLottery.value.buying[i].price1?'เต็ง':''}}{{FromGroupCopyLottery.value.buying[i].price2?',โต๊ด':''}})
              </ng-container>
            </div>
          </div>
        </form>
      </ng-container>
    </div>
    <div class="col-12">
      <button class="btn btn-danger" style="width: 100%;" type="submit" (click)="OnSubmit()">เพิ่มการซื้อหวย</button>
    </div>
  </div>
</div>