
.check-box{
    padding-top: 8px;
}
table{
    font-size: 12px;
}
.btn-sm{
    padding: 0px 4px 0px 4px;
    font-size: 12px;
}
.X{
    position: absolute;
    top: 5px;
    right: -5px;
}
.show-number{
    padding: 10px;
    background-color: #b2b2b2;
    margin: 5px;
}