.login{
    padding:50px 20px 20px 20px;
    .form-control{
        padding: 20px;
    }
}
.btn-danger{
    display: initial !important;
    width: 280px;
    padding: 5px;
    position: relative;
}
.form-control{
    display: initial !important;
    position: relative;
    width: 280px;
}