/* You can add global styles to this file, and also import other style files */

html,
body {
  font-family: 'Kanit', sans-serif;
}

shadow {
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
}
.bg-gray{
  background-color: #e8ebee;
  padding: 10px;
}
.alert-date{
  font-size: 11px;
}
.btn-map{
  color: #8080ff !important;
}