table{
    font-size: 12px;
}
.btn-sm{
    padding: 0px 4px 0px 4px;
    font-size: 12px;
}
.x{
    text-align: center;
    padding-top: 5px !important;
}
.modal-content{
    border-radius:0px;
    border: none; 
}
.petten{
    font-size: 13px;
}
.header-lottery{
    position: relative;
    border-radius: 4px;
    padding: 5px;
}
h6{
    padding: 2px;
    margin: 0px;
}
.report-lottery{
    position: absolute;
    top:2px;
    right: 5px;
}